@font-face {
	font-family: 'HindSiliguri';
	src: url('../assets/Fonts/HindSiliguri/HindSiliguri-Regular.ttf');
}
@font-face {
	font-family: 'HindSiliguri';
	src: url('../assets/Fonts/HindSiliguri/HindSiliguri-Bold.ttf');
	font-weight: bolder;
}
@font-face {
	font-family: 'HindSiliguri';
	src: url('../assets/Fonts/HindSiliguri/HindSiliguri-SemiBold.ttf');
	font-weight:bold;
}
@font-face {
	font-family: 'HindSiliguri';
	src: url('../assets/Fonts/HindSiliguri/HindSiliguri-Light.ttf');
	font-weight: lighter;
}